/*common styles*/
body{font-family:"Open Sans", sans-serif;}

.svg-icon{fill:currentColor!important;display:inline-block;vertical-align:middle;}
.svg-spin{-webkit-animation:svg-spin 2s infinite linear;animation:svg-spin 2s infinite linear;}

/* app-name styles  */
.app-name{font-size: 1.2em;}

/* header actions  */
/*.navbar { 
    --bs-navbar-padding-y: 0rem;
}*/
.header-actions .nav-item > .nav-link{color: #ffffff;}
.header-actions .nav-item > .nav-link:hover{background-color: #ffffff !important;color: #555555 !important;}

/* layout  */
.sidebar-min{width:50px;height:100%;position:absolute;}
.sidebar-min .menu-open{display:inline-block;}
.sidebar-min .menu-close{display:none;}
.sidebar-max{width:auto!important;height:100%;position:absolute!important;z-index:1025;box-shadow:1px 0 5px -1px #ccc;transition:width 2s;}
.sidebar-max .menu-open{display:none!important;transition:2s;}
.sidebar-max .menu-close{display:inline-block!important;transition:2s;}
.sidebar-min .secondary-nav > li > a > .menu-text {display:none;}
.sidebar-max .secondary-nav > li > a > .menu-text {display:inline-block;}

.main-content{width:calc(100% - 50px);position:relative;left:50px;z-index:1;}

/* common  */
.page-title{color:#0b848e;}
.svg-icon{fill:currentColor!important;}

/* secondary navigation  */
.secondary-nav{margin: 0px;padding: 0px;}
.secondary-nav > li > a {display: block; color: #666666; text-decoration: none;}
.secondary-nav > li > a:hover, .secondary-nav > li > a:focus, .secondary-nav > li > a:active {color: #0b848e;}

/* card styles */
.card{border: 1px solid #c7d5d5;min-width: 300px;}
.card-title{color: #007680;}

/* breadcrumb */
.breadcrumb a{ color: #666666; text-decoration: none;}
.breadcrumb a:hover, .breadcrumb a:focus, .breadcrumb a:active {color: #0b848e;}

/* button styles  */
.btn-primary{background:#0b848e;color:#ffffff;border:1px solid #0b848e;border-radius:2px;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{background:#0b848e!important;border-color:#0b848e!important;color:#c9f2f5;}

/* pagination  */
.pagination{
    --bs-pagination-border-color:none;
    --bs-pagination-active-color: #0b848e;
    --bs-pagination-active-bg: #fffff;
    --bs-pagination-active-border: 1px solid ;
    --bs-pagination-active-border-color: #0b848e;
}
.pagination .active>.page-link{border: 1px solid #0b848e;color:#0b848e!important;font-weight:600;}
.page-link{padding: 1px 8px;color:#555555!important;margin: 0 5px;}

/* table styles  */
table > thead > tr > th {color:#0b848e!important;} 
table tbody tr:hover {background-color:#f8f9fa!important;} 
.table {
    --bs-table-hover-bg: rgba(248, 249, 250, 1);
}
.table>:not(caption)>*>* { 
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

/* form styles  */
.form-control, .form-select, .input-group-text, .btn{border-radius:0!important;}
.form-control, .form-select{border: 1px solid #0d8390;}
.input-group-text{border:1px solid #0d8390;}

.select2-container{min-width:auto!important;}
.select2-container .select2-selection--single{height:auto;min-height:calc(2.25rem + 2px);}
.select2-selection{border-radius:0px!important;box-shadow:none!important;color:#858585;line-height:1.5;border:1px solid #0d8390!important;font-size:14px!important;font-family:inherit!important;}
.select2-container .select2-results .select2-results__option{font-size:14px!important;}   
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height:34px!important;}
.select2-container--default .select2-selection--single .select2-selection__arrow{top:7px!important;}
body .select2-container--default .select2-results__option--highlighted[aria-selected]{background-color:#cee6e9;color:#000000;}