/*common styles*/
body{font-family:"Open Sans", sans-serif;}

.svg-icon{fill:currentColor!important;}

/* app-name styles  */
.app-name{font-size: 1.2em;}

/* header actions  */
/*.navbar { 
    --bs-navbar-padding-y: 0rem;
}*/
.header-actions .nav-item > .nav-link{color: #ffffff;}
.header-actions .nav-item > .nav-link:hover{background-color: #ffffff !important;color: #555555 !important;}

/* layout  */
.sidebar-min{width:50px;height:100%;position:absolute;}
.sidebar-min .menu-open{display:inline-block;}
.sidebar-min .menu-close{display:none;}
.sidebar-max{width:auto!important;height:100%;position:absolute!important;z-index:1025;box-shadow:1px 0 5px -1px #ccc;transition:width 2s;}
.sidebar-max .menu-open{display:none!important;transition:2s;}
.sidebar-max .menu-close{display:inline-block!important;transition:2s;}
.sidebar-min .secondary-nav > li > a > .menu-text {display:none;}
.sidebar-max .secondary-nav > li > a > .menu-text {display:inline-block;}

.main-content{width:calc(100% - 50px);position:relative;left:50px;z-index:1;}

/* common  */
.page-title{color:#0b848e;}
.svg-icon{fill:currentColor!important;}

/* secondary navigation  */
.secondary-nav{margin: 0px;padding: 0px;}
.secondary-nav > li > a {display: block; color: #666666; text-decoration: none;}
.secondary-nav > li > a:hover, .secondary-nav > li > a:focus, .secondary-nav > li > a:active {color: #0b848e;}

/* card styles */
.card{border: 1px solid #c7d5d5;min-width: 300px;}
.card-title{color: #007680;}

/* breadcrumb */
.breadcrumb a{ color: #666666; text-decoration: none;}
.breadcrumb a:hover, .breadcrumb a:focus, .breadcrumb a:active {color: #0b848e;}

/* button styles  */
.btn-primary{background:#0b848e;color:#ffffff;border:1px solid #0b848e;border-radius:2px;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{background:#02626a!important;border-color:#02626a!important;color:#c9f2f5;}

/* pagination  */
.pagination{
    --bs-pagination-border-color:none;
    --bs-pagination-active-color: #02626a;
    --bs-pagination-active-bg: #fffff;
    --bs-pagination-active-border: 1px solid ;
    --bs-pagination-active-border-color: #02626a;
}
.pagination .active>.page-link{border: 1px solid #02626a;}
.page-link{padding: 5px 15px;color:#555555;}


  


