/*common styles*/
body{font-family:"Open Sans", sans-serif;}

.svg-icon{fill:currentColor!important;}

/* app-name styles  */
.app-name{font-size: 1.2em;}

/* secondary navigation  */
.secondary-nav{margin: 0px;padding: 0px;}
.secondary-nav > li > a {display: block; color: #666666; text-decoration: none;}
.secondary-nav > li > a:hover, .secondary-nav > li > a:focus, .secondary-nav > li > a:active {color: #0b848e;}

/* card styles */
.card{border: 1px solid #c7d5d5;min-width: 300px;}
.card-title{color: #007680;}

/* breadcrumb */
.breadcrumb a{ color: #666666; text-decoration: none;}
.breadcrumb a:hover, .breadcrumb a:focus, .breadcrumb a:active {color: #0b848e;}

/* button styles  */
.btn-primary{background:#0b848e;color:#ffffff;border:1px solid #0b848e;border-radius:2px;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{background:#02626a!important;border-color:#02626a!important;color:#c9f2f5;}
  
.secondary-nav > li > a > .menu-text {display: none; position: absolute; left: 55px; z-index: 1025; padding: 5px;  border: 1px solid #e5e5e5;
  background: #ffffff; font-size: .875em; box-shadow: 2px 1px 2px 0 rgb(0 0 0 / 10%);
}
.secondary-nav> li:hover > a > .menu-text{display: inline-block;}
